[workspace]
channels = ["knime/label/nightly", "knime", "conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
conda-pypi-map = { "knime" = "conda-pypi-map-ibm.json" }

[pypi-options]
no-build = true

[tasks]

[dependencies]
knime-python-base = "*"
python = "3.11.*"
langchain = "0.3.23.*"
langchain-core = "0.3.81.*"
langchain-community = "0.3.21.*"
langchain-openai = "0.3.14.*"
langchain-chroma = "0.2.3.*"
langchain-anthropic = "0.3.12.*"
packaging = "<25"
pydantic = "2.10.2.*"
shapely = "*"
httpx = "*"
urllib3 = "*"
requests = "2.32.2.*"
pypika = "0.48.9.*"
faiss-cpu = "1.7.4.*"
docopt = "0.6.2.*"
griffe = "0.48.0.*"
bokeh = "3.3.4.*"
scipy = "1.11.4.*"
umap-learn = "0.5.7.*"
matplotlib = "3.10.1.*"
ipython = "9.1.0.*"
langdetect = "1.0.9.*"
chardet = "5.2.0.*"
cloudpickle = "3.1.1.*"
gitdb = "4.0.12.*"
gitpython = "3.1.44.*"
mixpanel = "4.10.1.*"
smmap = "5.0.2.*"
sqlparse = "0.5.3.*"
xxhash = "*"
google-genai = "1.12.1.*"
beautifulsoup4 = "4.12.3.*"
huggingface_hub = "0.31.4.*"
openai = "1.76.2.*"
pip = "25.0.1.*"
ibm_cos_sdk_core = "2.14.1.*"
ibm_cos_sdk_s3transfer = "2.14.1.*"
ibm_cos_sdk = "2.14.1.*"
langgraph = "0.4.2.*"
pyyaml = ">=6.0.2,<7"
onnxruntime = "1.21.1.*"
charset-normalizer = ">=3.4.2,<4"


[pypi-dependencies]
gpt4all = "==2.8.2"
giskard = "==2.14.2"
langchain-google-vertexai = "*"
langchain-google-genai = "==2.1.3"
lomond = "==0.3.3.*"
langchain-ibm = "==0.3.10.*"


[feature.build.dependencies]
python = "3.9.*"
knime-extension-bundling = "5.5.*"

[feature.build.tasks]
build = { args = [{ "arg" = "dest", "default" = "./local-update-site" }], cmd = "python ./.pixi/envs/build/bin/build_python_extension.py . {{ dest }} --render-folder ./render-dir --force --disable-strict-enforcement"}

[environments]
build = {features = ["build"], no-default-feature = true}
