[workspace]
channels = ["knime/label/nightly", "knime", "conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[pypi-options]
# no-build = true

[tasks]
test = { cmd = "pytest" }

[dependencies]
knime-extension = "5.8.*"
# knime-python-versions = "5.8.*"
knime-python-base = "*"
python = "3.13.*"
pandas = "<2.3.0"
# langchain = ">=1"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-core = "*"
langchain-google-genai = ">=4"
# langchain-text-splitters= ">=1"
langsmith = "*"
packaging = "*"
pydantic = "*"
shapely = "*"
httpx = "*"
urllib3 = "*"
requests = ">=2.32.5"
pypika = "*"
docopt = "*"
griffe = "*"
bokeh = "*"
scipy = "*"
umap-learn = "*"
matplotlib = "*"
ipython = "*"
langdetect = "*"
chardet = "*"
cloudpickle = "*"
gitdb = "*"
gitpython = "*"
mixpanel = "*"
smmap = "*"
sqlparse = "*"
xxhash = "*"
google-genai = "*"
beautifulsoup4 = "*"
huggingface_hub = "*"
openai = "*"
pip = "*"
# ibm_cos_sdk_core = "*"
# ibm_cos_sdk_s3transfer = "*"
# ibm_cos_sdk = "*"
# langgraph = "*"
pyyaml = ">=6.0.2,<7"
# onnxruntime = "*"
charset-normalizer = ">=3.4.2,<4.13.6"
posthog = ">=2.4.0,<6.0.0"
pytest = "*"


[pypi-dependencies]
gpt4all = "*"
giskard = "*"
# lomond = "==0.3.3.*"
langchain-ibm = "==1.0.2"
langchain-community = "==0.4.1"
langchain = ">=1"
langchain-classic = "*"
langchain-chroma = "*"
faiss-cpu = "*"
langgraph = "*"


[feature.build.dependencies]
python = "3.9.*"
knime-extension-bundling = "5.10.*"
jake = "*"

[feature.dev.dependencies]
debugpy = "*"

[feature.build.tasks]
build = { args = [{ "arg" = "dest", "default" = "./local-update-site" }], cmd = "build-python-extension . {{ dest }} --render-folder ./render-dir --force"}

[environments]
build = {features = ["build"], no-default-feature = true}
dev = {features = ["dev"]}
