[workspace]
channels = ["knime/label/nightly", "knime", "conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[pypi-options]
no-build = true

[tasks]
test = { cmd = "pytest" }

[dependencies]
knime-extension = "5.10.*"
knime-python-versions = "5.10.*"
python = "3.11.*"
langchain = "0.3.23.*"
langchain-community = "0.3.21.*"
langchain-openai = "0.3.14.*"
langchain-chroma = "0.2.3.*"
langchain-anthropic = "0.3.12.*"
langchain-core = "0.3.75.*"
langsmith = "0.3.45.*"
packaging = "25.0.*"
pydantic = "2.10.2.*"
shapely = "*"
httpx = "*"
urllib3 = "*"
requests = "*"
pypika = "0.48.9.*"
faiss-cpu = "1.7.4.*"
docopt = "0.6.2.*"
griffe = "0.48.0.*"
bokeh = "3.3.4.*"
scipy = "*"
umap-learn = "0.5.7.*"
matplotlib = "*"
ipython = "*"
langdetect = "1.0.9.*"
chardet = "5.2.0.*"
cloudpickle = "3.1.1.*"
gitdb = "4.0.12.*"
gitpython = "3.1.44.*"
mixpanel = "4.10.1.*"
smmap = "5.0.2.*"
sqlparse = "0.5.3.*"
xxhash = "*"
google-genai = ">=1.52.0,<2"
beautifulsoup4 = "*"
huggingface_hub = "0.34.4.*"
openai = "1.76.2.*"
pip = "25.0.1.*"
langgraph = "0.4.2.*"
pyyaml = ">=6.0.2,<7"
onnxruntime = "1.21.1.*"
charset-normalizer = ">=3.4.2,<4.13.6"
posthog = ">=2.4.0,<6.0.0"
pytest = "*"
debugpy = ">=1.8.17,<2"


[pypi-dependencies]
gpt4all = "==2.8.2"
giskard = "==2.14.2"
langchain-google-vertexai = "*"
langchain-google-genai = "==2.1.3"
mcp = ">=1.12.4, <2"
fastapi = "*"
uvicorn = "*"


[feature.build.dependencies]
python = "3.9.*"
knime-extension-bundling = "5.10.*"
jake = "*"

[feature.dev.dependencies]
debugpy = "*"

[feature.build.tasks]
build = { args = [{ "arg" = "dest", "default" = "./local-update-site" }], cmd = "build-python-extension . {{ dest }} --render-folder ./render-dir --force"}

[environments]
build = {features = ["build"], no-default-feature = true}
dev = {features = ["dev"]}
